<script setup lang="ts">
import { reactive, ref } from 'vue';

const dinamicId = ref('MyId')
const titleClass = ref('red')
const myClasses = reactive({
        red:true,
        bold:true,
        underline:true
    })

const myStyle = reactive({
    fontSize: '30pt',
    borderStyle: 'solid'
})

myClasses.red = false
</script>

<template>
    <div :id="dinamicId" :class="myClasses" :style="myStyle"
    >{{ dinamicId }}</div>
</template>

<style scoped>
.red {
    color: red;
}

.bold{
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}
</style>