<script setup lang="ts">
// import DeclarativeRendering from "./components/DeclarativeRendering.vue"
// import AttributeBindings from "./components/AttributeBindings.vue"
// import EventListeners from "./components/EventListeners.vue"
// import FormBindings from "./components/FormBindings.vue"
// import ConditionalRendering from "./components/ConditionalRendering.vue"
// import ListRendering from "./components/ListRendering.vue"
import BMIView from './views/BMIView.vue'
</script>

<template>
  <h1>Hello World!!</h1>
  <!-- <DeclarativeRendering></DeclarativeRendering>
  <AttributeBindings></AttributeBindings>
  <EventListeners></EventListeners>
  <FormBindings></FormBindings>
  <ConditionalRendering></ConditionalRendering>
  <ListRendering></ListRendering> -->
  <BMIView></BMIView>
</template> 